{% extends 'base.html' %}

{% block content %}
  <header>
    <p class="display-6 text-center">Index Page</p>

    <div class="d-flex justify-content-end">
      {% if request.user.is_authenticated %}
        {% if user.emp_grade == 'leader' %}
          <p><a class="btn btn-outline-success mx-2" href="{% url 'accounts:test' %}" role="button">테스트</a></P>
        {% endif %}

        <p><a class="btn btn-outline-success mx-2" href="{% url 'accounts:profile' user.pk %}" role="button">프로필</a></P>

        <p><a class="btn btn-outline-success mx-2" href="{% url 'accounts:update' %}" role="button">회원정보 수정</a></P>

        <form action="{% url 'accounts:logout' %}" method="POST" class="mx-2">
          {% csrf_token %}
          <button class="btn btn-outline-danger" type="submit">로그아웃</button>
        </form>

        <form action="{% url 'accounts:delete' %}" method="POST" class="ms-2">
          {% csrf_token %}
          <button class="btn btn-outline-danger" type="submit">회원 탈퇴</button>
        </form>
      {% endif %}
    </div>
    <hr>
  </header>

  <section class="container">
    <br>
    <form action="{% url 'duties:new' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="month" placeholder="달을 입력하세요.">
      <input type="submit" value="입력">
    </form>

    <div class="outer">
        <a class="btn btn-info left" href="{% url 'duties:index' %}?{{ prev_month }}"><span>이전 달</span> </a>
        <a class="btn btn-info right" href="{% url 'duties:index' %}?{{ next_month }}"><span>다음 달</span> </a>
    </div>
    {{calendar}}

  </section>
{% endblock content %}
