{% extends 'base.html' %}

{% block content %}
  <header>
    <p class="fs-3">Pick Off Days</p>
    <hr>
  </header>

<form action="" method="POST">
  {% csrf_token %}
  {% with ''|center:n as range %}
    {% for _ in range %}
      <input type="checkbox" class="btn-check" id="day{{ forloop.counter }}" name="day{{ forloop.counter }}" autocomplete="off" value="TRUE">
      <label class="btn btn-outline-primary" for="day{{ forloop.counter }}">DAY {{forloop.counter}}</label><br>
    {% endfor %}
  {% endwith %}
  <input type="submit">
</form>

{% endblock content %}