{% extends 'base.html' %}

{% block content %}
  <header>
    <p class="display-6 text-center">Accounts Password Update Page</p>
    <hr>
  </header>

  <section>
    <form action="{% url 'accounts:change_password' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex justify-content-end">
        <a class="btn btn-outline-success mx-2" href="{% url 'duties:index' %}" role="button">BACK</a>
        <button class="btn btn-outline-primary ms-2" type="submit">확인</button>
      </div>
    </form>
  </section>
{% endblock content %}