{% extends 'base.html' %}

{% block content %}
  <header>
    <p class="fs-3">Profile</p>
    <hr>
  </header>
  <p></p>
  <p>user: {{ user }}</p>
  <p>name: {{ user.name }}</p>
  <p>photo: </p>
   {% comment %} <img src="{{ user.photo.url }}" alt="userimage"> {% endcomment %}
  <p>emp date: {{ user.emp_date }}</p>
  <p>team: {{ user.emp_team }}</p>

  <footer class="d-flex justify-content-end">
    <a class="btn btn-outline-success mx-2" href="{% url 'duties:index' %}" role="button">BACK</a>
  </footer>
{% endblock content %}