{% extends 'base.html' %}

{% block content %}  

  <header>
    <p class="fs-1 fw-bold" style="color: #ed6a6c">Profile</p>
    <hr style="color: #ed6a6c">
  </header>
  <p></p>
  <div class="card p-1" style="width: 50rem; height: 25rem;">
    <div class="row">
      <div class="col-md-5" style="img-fluid">
        <img src="https://mblogthumb-phinf.pstatic.net/MjAyMDAxMjBfMjU5/MDAxNTc5NDY4NzQ2OTA2.45inocdoeaT5D6hAS-0LFCWHEHCCGsBEXPrY7fBPVAAg.Z24pQoPjt4alydbZpwoKXqZwm3CQafTOZP3nZL0DEMIg.JPEG.skil666/IMG_20190903_002601.jpg?type=w800" class="img-fluid rounded" style="height: 390px;" alt="...">
      </div>
      <div class="col-md-7" id="update-parent">
        <div class="card-body">
          <h2 class="card-title fs-4 fw-bold mb-5">{{ user.name }} 의 Profile</h2>
          <div class="d-inline flex">
            <i class="fas fa-check"></i>
            <h5 class="mb-3">{{ user.emp_team }} 팀</h5>
          </div class="d-inline">
          <h5 class="mb-3">사원번호: {{ user.emp_id }}</h5>
          <h5 class="mb-3">입사일: {{ user.emp_date }}</h5>
          <h5 class="mb-3">직급: {{ user.emp_grade }}</h5>
          <div id="update-sibling">
            <a class="btn mx-2" id="update-btn" href="{% url 'accounts:update' %}" role="button">수정</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="d-flex justify-content-end">
    <a class="btn btn-outline-success mx-2" href="{% url 'duties:index' %}" role="button">BACK</a>
  </footer>
{% endblock content %}