{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
  <header>
    <p class="display-6 text-center">Accounts Update Page</p>
    <hr>
  </header>
  
  <section>
    <form action="{% url 'accounts:update' %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% comment %} {{ form.as_p }} {% endcomment %}
      <div class="d-flex justify-content-end">
        <a class="btn btn-outline-success mx-2" href="{% url 'duties:index' %}" role="button">BACK</a>
        <button class="btn btn-outline-primary ms-2" type="submit">확인</button>
      </div>
    </form>
  </section>
{% endblock content %}